# Ignore the virtual environment folder
venv/

# Ignore environment variables
.env

# Ignore macOS specific files
.DS_Store

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore editor config files
.vscode/
.idea/